[Unit]
Description=Loki
Documentation=https://prometheus.io/docs/introduction/overview/
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=loki
Group=loki
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/loki-linux-amd64 \
  --config.file=/etc/loki/loki-config.yml

SyslogIdentifier=loki
Restart=always

[Install]
WantedBy=multi-user.target
